<!DOCTYPE html>
<html ng-app="store">
 <head>
 <link rel="stylesheet" type="text/css" href="D:\Development\Angular\Angular_Learning\bootstrap-3.3.7-dist\css\bootstrap.min.css" />
 </head>
 <body ng-controller="storecontroller as store">
<script type="text/javascript" src="D:\Development\Angular\Angular_Learning\angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>

<div ng-repeat ="product in store.products">
	<h1> {{product.name}} </h1>
<h2> ${{product.price}} </h2>
<!-- <p> {{product.description}} </p> -->
<img ng-src="{{product.images.full}}"></img>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <button type="button" class="btn btn-success" ng-show="product.CanPurchase">Add to Cart</button> -->
<br>
<br>
<section ng-controller="PanelController as panel">
	<ul class="nav nav-pills">
		<li ng-class="{active:panel.isselected(1)}">
			<a href ng-click="panel.SelectTab(1)">Description</a>
		</li>
		<li ng-class="{active:panel.isselected(2)}">
			<a href ng-click="panel.SelectTab(2)">Specifications</a>
		</li>
		<li ng-class="{active:panel.isselected(3)}">
			<a href ng-click="panel.SelectTab(3)">Reviews</a>
		</li>
	</ul>
	<div class="Panel" ng-show="panel.isselected(1)">
		<h4>
			Description
		</h4>
		<blockquote>
		
			{{product.description}}
		</blockquote>
	</div>
		<div class="Panel" ng-show="panel.isselected(2)">
		<h4>
			Specifiactions
		</h4>
		<blockquote>
			None Yet
		</blockquote>
			
			
	</div>
	
		<div class="Panel" ng-show="panel.isselected(3)">
		<h4>
			Reviews
		</h4>
		<blockquote ng-repeat="review in product.reviews">
        </blockquote>
        <form name="reviewForm">
        <br>
        <br>
        <br>
<div class="dropdown">
       <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Rate The Product
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li class="divider"></li>
      <li><a href="#">5</a></li>
    </ul>
    </div>
        <br>
        <br>
        <br>
 
 <textarea class="form-control" rows="5">
 	
 </textarea>
<br><br><br>
 <label>by:</label>
 <input class="form-control" type="email" />
 <br><br><br>
 <input class="btn btn-primary" type="submit" value="Submit" />
</form>
    </div>

		
	
	
</section>
</div>

 </body>
</html>